[submodule "hardware-esp32"]
	path = hardware-esp32
	url = https://github.com/chas-challenge-code-6/hardware-esp32.git
[submodule "backend"]
	path = backend
	url = https://github.com/chas-challenge-code-6/backend.git
[submodule "hardware-watch"]
	path = hardware-watch
	url = https://github.com/chas-challenge-code-6/hardware-watch.git
[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/chas-challenge-code-6/mobile-app.git
